
* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #6579db;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #3a3838;
    display: flex;
}

nav {
    width: 25%;
    height: 100%;
    background-color: lightgray;
    overflow: hidden;
    position: relative;
}

#nav {
    margin-top: 15%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 10;
}

#nav ul {
    list-style: none;
    font-size: 250%;
    line-height: 240%;
}

#nav li {
    cursor: pointer;
}

#nav a {
    text-decoration: none;
    color: black;
    font-size: 60%;
    
}

#nav a.active {
    text-decoration: underline;
}

#logo_head {
    height: 15%;
    width: 100%;
    background-color: #3a3838;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_head img {
    text-align: center;
    height: 200%;
}

#liserai_clair,
#liserai_fonce {
    position: absolute;
    bottom: -80px;
    left: -150px;
    width: 500px;
    height: 200px;
    transform-origin: center;
    transform: rotate(35deg);
    background-color: #7fb5ea;
    z-index: 1;
}

#liserai_fonce {
    bottom: -160px;
    background-color: #6579db;
}

/* CSS de la page uniquement, sans le header et le footer */

section{
	margin-left: 125px;
	margin-right: 125px;
}

#titre_section{
	text-align: center;
	margin: 50px;
}

#inge{
	display: grid;
	grid-template-columns: (3, 1fr);
	grid-gap: 10px;
	grid-auto-rows: minmax(100px, auto);
}

video{
    width: 650px;
    height: 350px;
    
    grid-column: 1,2;
    grid-row: 1;
}

#text_inge{
	width: 400px;
	margin-left: 100px;
	grid-column: 3;
	grid-row: 1;
	height: 350px;
	line-height: 25px;
	color: #3a3838;
	font-family: 'Playfair Display', serif;
}

#text_inge p{
	text-align: justify;
}

#text_inge p a{
	text-decoration: none;
	color: black;
	font-style: italic;
}

#text_inge p a:hover{
	text-decoration: underline;
}

#agence{
	text-align: left;
	margin: 50px;
	line-height: 25px;
	color: #3a3838;
}

footer div {
    height: 100%;
    width: 100%;
}

#picto,
#logo_webee,
#copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    text-align: center;
}

#logo_webee img {
    height: 50%;
}

#copyright p {
    height: min-content;
}

#div_pictos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div_pictos img {
    height: 30%;
    margin-left: 10px;
    margin-right: 10px;
}