* {
    margin: 0;
    padding: 0;
    font-family: 'Libre Franklin', sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #6579db;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #3a3838;
    display: flex;
}

nav {
    width: 25%;
    height: 100%;
    background-color: lightgray;
    overflow: hidden;
    position: relative;
}

footer div {
    height: 100%;
    width: 100%;
}

#picto,
#logo_webee,
#copyright {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: white;
    text-align: center;
}

#logo_webee img {
    height: 50%;
}

#copyright p {
    height: min-content;
}

#div_pictos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#div_pictos img {
    height: 30%;
    margin-left: 10px;
    margin-right: 10px;
}

#nav {
    margin-top: 15%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    z-index: 10;
}

#nav ul {
    list-style: none;
    font-size: 250%;
    line-height: 240%;
}

#nav li {
    cursor: pointer;
}

#nav a {
    text-decoration: none;
    color: black;
    font-size: 60%;
    font-weight: bold;
}

#nav a.active {
    text-decoration: underline;
}

#logo_head {
    height: 15%;
    width: 100%;
    background-color: #3a3838;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_head img {
    text-align: center;
    height: 200%;
}

#main {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#liserai_clair,
#liserai_fonce {
    position: absolute;
    bottom: -80px;
    left: -150px;
    width: 500px;
    height: 200px;
    transform-origin: center;
    transform: rotate(35deg);
    background-color: #7fb5ea;
    z-index: 1;
}

#liserai_fonce {
    bottom: -160px;
    background-color: #6579db;
}

#exposition {
    width: 70%;
    height: 60%;
    display: flex;
}

#textexpo {
    width: 50%;
    height: 100%;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: x-large;
    width: min-content;
    background-color: #7fb5ea;
    color: white;
    padding: 3% 10% 3% 10%;
}

#textexpo p {
    padding: 8% 0 0 0;
    line-height: 25px;
    color: #3a3838;
}

aside {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

#greybox {
    width: 70%;
    height: 70%;
    background-color: lightgrey;
    z-index: 1;
}

#bluebox {
    position: absolute;
    bottom: 40px;
    left: 50px;
    width: 70%;
    height: 70%;
    background-color: #6579db;
    z-index: 0;
}