* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 100vh;
    width: 100%;
    background-color: #6579db;
}

footer {
    height: 150px;
    width: 100%;
    background-color: #3a3838;
}

nav {
    width: 25%;
    height: 100%;
    background-color: lightgray;
    overflow: hidden;
    position: relative;
}

.carousel-dot {
    background-color: #7fb5ea;
    border-radius: 50%;
    height: 20px;
    width: 20px;
}

#nav {
    margin-top: 15%;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#nav ul {
    list-style: none;
    font-size: 250%;
    line-height: 200%;
}

#nav li {
    cursor: pointer;
}

#nav a {
    text-decoration: none;
    color: black;
}

#nav a.active {
    text-decoration: underline;
}

#logo_head {
    height: 15%;
    width: 100%;
    background-color: #3a3838;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo_head img {
    text-align: center;
    height: 200%;
}

#main {
    height: 100vh;
    width: 100%;
}

#liserai_clair,
#liserai_fonce {
    position: absolute;
    bottom: -80px;
    left: -150px;
    width: 500px;
    height: 200px;
    transform-origin: center;
    transform: rotate(35deg);
    background-color: #7fb5ea;
}

#liserai_fonce {
    bottom: -160px;
    background-color: #6579db;
}